@()(implicit messages: Messages)
@import helpers.PlainHelper.myFields
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="@routes.Assets.at("/mdl/material.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("../../../public/stylesheets/signup/signupmailsent.css")">
    <script defer src="@routes.Assets.at("/mdl/material.min.js")"></script>
</head>
<body>
    @views.html.common.header()(messages)
    <main class="mdl-layout__content">
        <div id="page-content">
            <h2>@messages("forgotpassmail.title")</h2>
            <hr>
            <div id="message">
                <span>@messages("forgotpassmail.messa1")<br>
                @messages("forgotpassmail.messa2")</span><br>
                @messages("forgotpassmail.messa3")<br>
                @messages("forgotpassmail.messa4")<br>
            </div>
        </div>
    </main>
    @views.html.common.footer()(messages)
</body>