@import forms.SignUpForm.RegisterdData
@(form: Form[RegisterdData])(implicit messages: Messages)
@import helpers.PlainHelper.myFields
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="@routes.Assets.at("/mdl/material.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("/stylesheets/signupconfirm.css")">
    <script defer src="@routes.Assets.at("/mdl/material.min.js")"></script>
</head>
<body>
        <!-- Always shows a header, even in smaller screens. -->
    @views.html.common.header()(messages)
    <main class="mdl-layout__content">
        <div id="page-content">
            <h3>@messages("signupconfirm.title")</h3>
            <hr>
            <div id="step"></div>
            <div id="form_block">
                <div class="mdl-card mdl-shadow--6dp">
                    <div class="mdl-card__supporting-text">
                        <div class="confirm_info">
                            <div class="signup_title" >
                                下記の内容で登録します。<br>
                                よろしければ「登録する」ボタンを押してください。
                            </div>
                            <div class="header">@messages("signup.mailaddress")</div>
                            <div class="inputvalue">@form("mailaddress").value</div>
                            <div class="header">@messages("signup.userName")</div>
                            <div class="inputvalue">@form("realName").value</div>
                            <div class="header">@messages("signup.userID")</div>
                            <div class="inputvalue">@form("userName").value</div>
                            <div class="header">@messages("signup.password")</div>
                            <div class="inputvalue">@form("password").value</div>
                            <div class="form_bottom_spacer10"></div>
                            <div id="actionButtons">
                                <div class="submitbutton">
                                @helper.form(action = routes.SignUpController.signupped) {
                                    <button class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect" type="submit" name="action">@Messages("signupconfirm.submitbutton")</button>
                                }
                                </div>
                                <div class="editbutton">
                                @helper.form(action = routes.SignUpController.signup) {
                                    <button class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect" type="submit" name="action">@Messages("signupconfirm.editbutton")</button>
                                }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    @views.html.common.footer()(messages)
</body>
