@import forms.SignUpForm.RegisteredData
@(form: Form[RegisteredData])(implicit messages: Messages, request:RequestHeader)
@import helpers.PlainHelper.myFields
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="@routes.Assets.at("/mdl/material.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("/stylesheets/signupconfirm.css")">
    <script defer src="@routes.Assets.at("/mdl/material.min.js")"></script>
</head>
<body>
    @request.flash.get("error").map { msg =>
      @errors.alert(msg, "error")
    }
        <!-- Always shows a header, even in smaller screens. -->
    @views.html.common.header()(messages)
    <main class="mdl-layout__content">
        <div id="page-content">
            <h3>@messages("signupconfirm.title")</h3>
            <hr>
            <div id="step"></div>
            <div id="form_block">
                <div class="mdl-card mdl-shadow--6dp">
                    <div class="mdl-card__supporting-text">
                        <div class="confirm_info">
                            <div class="signup_title" >
                                下記の内容で登録します。<br>
                                よろしければ「登録する」ボタンを押してください。
                            </div>
                            <div class="header">@messages("signup.mailaddress")</div>
                            <div class="inputvalue">@form("mailaddress").value</div>
                            <div class="header">@messages("signup.userName")</div>
                            <div class="inputvalue">@form("realName").value</div>
                            <div class="header">@messages("signup.userID")</div>
                            <div class="inputvalue">@form("userName").value</div>
                            <div class="header">@messages("signup.password")</div>
                            <div class="inputvalue">@for(i <- 1 to form("password.password1").value.get.length){*}</div>
                            <div class="form_bottom_spacer10"></div>
                            <div id="actionButtons">
                                <div class="editbutton">
                                @helper.form(action = routes.SignUpController.signupStart()) {
                                    <button class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect" type="submit" name="action">@Messages("signupconfirm.editbutton")</button>
                                }
                                </div>
                                <div class="submitbutton">
                                @helper.form(action = routes.SignUpController.signupFinish()) {
                                    <input type="hidden" id="id" name="id" value="@form("id").value"/>
                                    <input type="hidden" id="mail" name="mail" value="@form("mail").value"/>
                                    <input type="hidden" id="name" name="name" value="@form("name").value"/>
                                    <input type="hidden" id="password.password1" name="password.password1" value="@form("password.password1").value"/>
                                    <input type="hidden" id="password.password2" name="password.password2" value="@form("password.password1").value"/>
                                    <input id="tel" name="tel" type="hidden" value="@form("tel").value" />
                                    <button class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect" type="submit" name="action">@Messages("signupconfirm.submitbutton")</button>
                                }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    @views.html.common.footer()(messages)
</body>
