@import forms.SignUpForm.RegistringData
@(form: Form[RegistringData])(implicit messages: Messages, requestHeader: RequestHeader)
@import helpers.PlainHelper.myFields
<!DOCTYPE html>
<head>
    <title>signup123</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="@routes.Assets.at("/mdl/material.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("/stylesheets/signupstart.css")">
    <script defer src="@routes.Assets.at("/mdl/material.min.js")"></script>
</head>
<body>
        <!-- ヘッダー -->
    @views.html.common.header()(messages)
    @requestHeader.flash.get("error").map { msg =>
        @errors.alert(msg, "error")
    }    <main class="mdl-layout__content">
        <div id="page-content">
            <h3>新規会員登録</h3>
            <hr>
            <div id="step" >
            </div>
            <div id="form_block">
                <div class="mdl-card mdl-shadow--6dp">
                    <div class="mdl-card__supporting-text">
                        <div id="form_column1">
                            <div>
                            @Messages("signupstart.mail_title")
                            </div>
                            <div class="form_bottom_spacer22"></div>
                            @helper.form(action = routes.SignUpController.signupMail()) {
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    @helper.inputText(form("mailaddress"), 'class -> "mdl-textfield__input")
                                    <label class="mdl-textfield__label" for="sample3" >@Messages("signup.mailaddress")</label>
                                </div>
                                <div class="form_bottom_spacer10"></div>
                                <div>
                                    <button class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect" type="submit" name="action">@Messages("signupstart.submitbutton")</button>
                                </div>
                            }
                        </div>
                        <div id="form_column2">
                            <div>
                            @Messages("signupstart.external_title")
                            </div>
                            <div class="form_bottom_spacer50"></div>
                            <div>
                                <button class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect" type="submit" name="action">
                                    Twitter</button>
                            </div>
                            <div class="form_bottom_spacer10"></div>
                            <div>
                                <button class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect" type="submit" name="action">
                                    Facebook</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    @views.html.common.footer()(messages)
</body>