@import model.event.Event
@(event: Event)
<div class="side-nav-separator3"></div>
<div class="event-card">
    <div class="bookmark on"></div>
    <div class="event-card-header">
        <div class="acount_info">
            <img src="@routes.Assets.at("/images/sample/sample2.jpg")" alt="">
            <div class="name">
                <p class="main">@event.host.name</p>
            </div>
        </div>
        <div class="list-item-title" host-id="@event.host.id" event-id="@event.id">
            @event.title
        </div>
        <div class="event-card-body">
            <div class="image">
                <img src="@routes.Assets.at("/images/sample/sample1.jpg")" alt="">
            </div>
            <div class="detail-container">
                <div class="summary">
0123456789
                    0123456789
                    0123456789
                    0123456789
                    0123456789
                    0123456789
                </div>
                <div class="detail">
                    <div class="clock"></div>
                    <div class="info">
                        <p class="main">2月25日(金) 10:00<span class="other_dates" id="other_dates" data-html="true">他5件</span></p>
                    </div>
                </div>
                <div class="detail">
                    <div class="location"></div>
                    <div class="info">
                        <p class="main">@event.place.name</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>