@import "common.css";

.event-card {
    display: inline-block;
    margin: 20px 0 0 20px;
    width: 250px;
    box-shadow:
        0 2px 2px 0 rgba(0,0,0,.14),
        0 3px 1px -2px rgba(0,0,0,.2),
        0 1px 5px 0 rgba(0,0,0,.12);
    cursor: pointer;
    position: relative;
}

.event-card:hover .title {
    text-decoration: underline;
    color: #008aff;
}

.event-card > .bookmark {
    background-image: url(../images/icon/bookmark-off.svg);
    background-size: 24px;
    background-position: top;
    background-repeat: no-repeat;
    background-color: #0000002e;
    border-bottom-left-radius: 5px;
    width: 40px;
    height: 32px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.bookmark.on {
    background-image: url(../images/icon/bookmark-on.svg);
}

.event-card > .bookmark:hover {
    opacity: 0.54;
}

.event-card-header {

}

.event-card-header > .title {
    font-weight: bold;
    opacity: 0.87;
    margin: 10px;
    height: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.event-card-header > .image {
    margin-bottom: 5px;
    height: 150px;
    overflow: hidden;
    text-align: center;
}

.event-card-header > .image > img {
    width: 100%;
}

.event-card-body {
    border-top: 1px solid #e2e2e2;
}

.event-card-body > .detail-container {
    margin: 10px 15px;
}

.event-card-body > .detail-container > .detail {
    position: relative;
    margin-top: 5px;
}

.event-card-body > .detail-container > .detail > img {
    position: absolute;
    height: 16px;
    width: 16px;
    margin-top: 2px;
    border-radius: 50%;
}

.event-card-body > .detail-container > .detail > .clock {
    position: absolute;
    height: 16px;
    width: 16px;
    margin-top: 2px;
    background-image: url(../images/icon/clock.svg);
}

.event-card-body > .detail-container > .detail > .location {
    position: absolute;
    height: 16px;
    width: 16px;
    margin-top: 2px;
    background-image: url(../images/icon/location.svg);
}

.event-card-body > .detail-container > .detail > .info {
    margin-left: 24px;
}

.event-card-body > .detail-container > .detail > .info > p {
    opacity: 0.54;
    margin: 0;
    font-size: 0.9em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.event-card-body > .detail-container > .detail > .info > p.main {
    opacity: 0.87;
    font-size: 1em;
}

.event-card-footer {
    margin-top: 10px;
    border-top: 1px solid #e2e2e2;
}
