
:root{
    --mdc-theme-primary:white;
    --mdc-theme-primary-dark:#9E9E9E;
    --mdc-theme-background:#CFD8DC;
    --mdc-theme-secondary:#a3a2a2;
    border-color: #cccbcb;
}
.text_title_body{
    color: black;
    opacity: 0.87;
}
.text_secondary{
    color: black;
    opacity: 0.54;
}
.registerlabel{
    color: #71000000;
}
.music{
    color: #02477e;
}
.sports{
    color: #3788ac;
}
.volunteer{
    color: #618733;
}
.workshop{
    color: #607d8b;
}
.festival{
    color: #e29422;
}
.entertainment{
    color: #4b3573;
}
.arts{
    color: black;
    opacity: 0.87;
}
.food{
    color: #795548;
}
.bargain{
    color: #dca827;
}
.bookmark{
    color: #d9b310;
}
/*<color name="colorAccent1">#2bc7dc</color>*/
/*<color name="colorAccent1Disabled">#4cc9da</color>*/
/*<color name="colorAccent2">#108c90</color>*/
/*<color name="colorProgressTint" >@color/colorAccent1</color>*/

/*<color name="colorTintSecondary">#a3a2a2</color>*/
/*<color name="colorContentEmpty">#bdbdbd</color>*/
/*<color name="colorContentEmptyDark">#9E9E9E</color>*/
/*<color name="colorComponentBackground">@android:color/white</color>*/
/*<color name="colorBackgroundEventSmallDefault">#FFFDE7</color>*/
/*<color name="colorBackgroundRegistering">@color/colorComponentBackground</color>*/

/*<color name="colorCircularRevealBlack">#0f000000</color>*/
/*<color name="colorCircularRevealWhite">#0fffffff</color>*/
/*<color name="colorCircularRevealAccent">#212bc7dc</color>*/

/*<color name="blackOpacity87">#de000000</color>*/
/*<color name="blackOpacity54">#89000000</color>*/
/*<color name="whiteOpacity87">#deffffff</color>*/
/*<color name="whiteOpacity54">#89ffffff</color>*/
