@import "font_size.css";
@import "icons.css";
@import "header/memberpage_header.css";

*{
    box-sizing: content-box !important;
}

html {
    height: 100%;
    font-size: 62.5% !important;
}
body {
    height: 100%;
    margin: 0;
}
main {
    margin:5px auto;
    box-sizing: border-box;
    position: relative;
}

.modal-form-container {
    margin: 0 10px;
}

#body {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 10em;
    min-height: 10em;
    max-height: 20em;
}


.divider {
    width: 100%;
    border-top: solid 1px rgba(0,0,0,0.12);
}

.main-content {
    margin: 0 auto;
    width: 1024px;
}

/* サインインする前 */

.mdl-layout__header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    min-width: 670px;
    min-height: 48px !important;
}

.mdl-layout__header-row {
    height: 48px;
}

#footer {
    clear: both;
    height: 45px;
    width: 100%;
    background-color: #424242;
}

#footer_content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

.mdl-layout__content {
    margin-top: 48px;
    width: 100%;
    padding-bottom: 100px;
}

.red {
    color: red;
}

/* サインイン後 */

/* 右寄せ */
.right{
    float: right !important;
    margin-left: 10px !important;
}

#night-mode{
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: transparent;
    z-index: 10000;
}


/**
 * イベント作成
 */

.create_event {
    display: flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
}

#create-btn {
    vertical-align: middle;
    align-self: center;
}

.modal-form-container {
    margin: 0 10px;
}

/* form validation */
.mdl-textfield.is-invalid.focused .mdl-textfield__error {
    visibility: visible
}
.mdl-textfield.is-invalid .mdl-textfield__error {
    visibility: hidden;
}

.mdl-textfield.is-invalid.focused .mdl-textfield__input {
    border-color: #d50000;
    box-shadow: none
}

.mdl-textfield.is-invalid .mdl-textfield__input {
    border-color: rgba(0, 0, 0, .12);
    box-shadow: inset;
}

.mdl-textfield--floating-label.is-invalid.focused .mdl-textfield__label {
    color: #d50000;
    font-size: 12px
}

.mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
    color: rgba(0, 0, 0, .26);
    font-size: 16px;
}

.mdl-textfield.is-invalid.focused .mdl-textfield__label:after {
    background-color: #d50000
}

.mdl-textfield.is-invalid .mdl-textfield__label:after {
    background:0 0;
    font-size: inherit;
}


#header-title:hover {
    cursor: pointer;
}

.mdl-layout__content {
    height: auto;
    overflow-y: hidden;
}

#step{
    padding-left: 0;
    padding-right: 0;
    margin-right: auto;
    margin-left: auto;
    height: 90px;
    width: 700px;
    padding-bottom: 20px;
    background-size: contain;
}

