@import "font_size.css";
@import "icons.css";
@import "header/memberpage_header.css";

*{
    box-sizing: content-box !important;
}

html {
    height: 100%;
    font-size: 62.5%;
}
body {
    height: 100%;
    margin: 0;
}
main {
    height: 100%;
    padding-top: 48px;
    box-sizing: border-box;
    position: relative;
}

