@import "common.css";

#form_block{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.mdl-card.mdl-shadow--6dp {
    padding-top: 20px;
    width: 600px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
}

hr {
    margin: 0px;
    border-width: 3px;
    width: 100%;
}
