

.icon-size-small {
    width: 24px;
    height: 24px;
}

.icon-size-very-small {
    width: 14px;
    height: 14px;
}

.icon-size-medium {
    width: 35px;
    height: 35px;
}

.icon-size-big {
    width: 46px;
    height: 46px;
}

.icon-size-very-big {
     width: 58px;
     height: 58px;
 }