@(msg: String, key: String)
    @alertType = @{
        "alert-" + (if(key == "error") "danger" else key)
    }
        <div class="modal fade" id="modal">
            <div class="modal-dialog" role="dialog">
                <div class="modal-content validate[group]">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">新しいイベントを作成</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                </div></div></div>
