@(messageKey: String)(implicit messages: Messages)
@import helpers.PlainHelper.myFields
<!DOCTYPE html>
<head>
    <title>エラー</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="@routes.Assets.at("/mdl/material.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("/stylesheets/signupmailsent.css")">
    <meta http-equiv="refresh" content="10;URL=@routes.GuestHomeController.index()">
    <script defer src="@routes.Assets.at("/mdl/material.min.js")"></script>
</head>
<body>
    @views.html.common.header()(messages)
    <main class="mdl-layout__content">
        <div id="page-content">
            <h3>@messages(messageKey + ".Title")</h3>
            <hr>
            <div id="message">
                <span>@messages(messageKey + ".messa1")<br>
                    @{
                        if(messageKey == "mailCannotUse") {
                                    <br/>
                                    <br/>
                                <span>
                                10秒後に自動でトップページで移動します。移動しない場合は
                                <a href="/">こちら</a>
                                をクリックしてください。
                                </span>
                        } else {
                            messages(messageKey + ".messa2")
                        }
                    }
                </span><br>

            </div>
        </div>
    </main>
    @views.html.common.footer()(messages)
</body>