@import model.event.Event

@(events: List[Event])(userID: String)(implicit messages: Messages, request: RequestHeader)

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>index</title>
            <!-- MDC -->
        <link rel="stylesheet" href="https://unpkg.com/material-components-web@@latest/dist/material-components-web.css">
        <script src="https://unpkg.com/material-components-web@@latest/dist/material-components-web.js"
        charset="utf-8"></script>
        <link rel="stylesheet" href="https://unpkg.com/material-components-web@@latest/dist/material-components-web.css">
        <script src="https://unpkg.com/material-components-web@@latest/dist/material-components-web.js"></script>
            <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="@routes.Assets.at("/javascripts/jquery.validationEngine.js")" charset="utf-8"></script>
        <script src="@routes.Assets.at("/javascripts/jquery.validationEngine-ja.js")" charset="utf-8"></script>
        <link rel="stylesheet" href="@routes.Assets.at("/stylesheets/utilities/jquery.datetimepicker.css")">
        <link rel="stylesheet" href="@routes.Assets.at("/stylesheets/utilities/validationEngine.jquery.css")">
            <!-- GoogleMap API -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
            <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
            <!-- Font Awesome -->
        <link rel="stylesheet" href="@routes.Assets.at("/vendor/font-awesome-4.7.0/css/font-awesome.min.css")">
            <!-- My javascript & css files -->
        <script>
                $(function () {
                    $('.event-card').on('click', function () {
                        window.location.href = "/event/5a44d5f2775672b659ba00fa"
                    })
                })
        </script>
        <link rel="stylesheet" href="@routes.Assets.at("/stylesheets/index.css")">
        <script src="@routes.Assets.at("/javascripts/autoinit.js")"></script>
        <script src="@routes.Assets.at("/javascripts/member_page_header.js")"></script>
    </head>
    <body>
            <!-- App bar START -->
        @views.html.secured.memberPageHeader(Option.empty)(userID)
            <!-- App bar END -->
        <main class="container">
            @request.flash.get("error").map { msg =>
                @errors.alert(msg, "error")
            }
            <div class="happening-event-container">
                <h2>開催中のイベント</h2>
                @for(event <- events) {
                    @views.html.search_view.search_list_item_vr(event)
                }
                <div class="my-event-container">
                    <h2>作成したイベント</h2>
                    @for(event <- events) {
                        @views.html.search_view.search_list_item_vr(event)
                    }
                </div>
            </div>
        </main>
    </body>
</html>
