@@@import forms.SearchEventForm
@()(implicit messages: Messages)
@@@import helpers.PlainHelper.myFields
@form = @{SearchEventForm.form}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                    <!-- Title -->
                <div class="mdl-layout-title" id="header-title">
                <span >@Messages("toppage.title")</span>
                </div>
                    <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                @helper.form(action = routes.EventController.search()) {
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 250px;">
                        @helper.inputText(form("keyword"), 'class -> "mdl-textfield__input")
                        <label class="mdl-textfield__label" for="sample3">イベントを探しましょう...</label>
                    </div>
                    <input type="hidden" name="limit" value="10"/>
                    <input type="hidden" name="offset" value="0"/>
                    <button class="mdl-button mdl-js-button mdl-button--icon"
                    for="waterfall-exp" type="submit" name="action">
                        <i class="material-icons">search</i>
                    </button>
                }
                    <!-- Navigation. We hide it in small screens. -->
                @*<nav class="mdl-navigation mdl-layout--large-screen-only" style="font-weight: bold">*@
                @*<a class="mdl-navigation__link" href="">@Messages("header.searchArea")</a>*@
                @*<a class="mdl-navigation__link" href="">@Messages("header.searchCategory")</a>*@
                @*</nav>*@
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    @helper.form(action = routes.SignInController.startSignin(), 'name -> "signinForm") {

                    }
                    <a class="mdl-navigation__link" href="/signin" onclick="document.signinForm.submit();
                    return false;" >@Messages("header.signIn")</a>
                    /
                    <a class="mdl-navigation__link" name="signuplink" href="@routes.SignUpController.signupStart()">@Messages("header.signUp")</a>
                </nav>
            </div>
        </header>
    </div>
